* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root { --border-color: rgb(255, 255, 255);

}

body{
    background-color: rgb(245,245,245);
    
}



nav{
    display: inline-flex;
    width: 100%;
    
}

nav > .nav-section {
    padding:3rem 2rem;
    display:flex;
    gap: 1rem;   
    

}
.nav-section{
    text-decoration: none;
}


#nav-social-section,
#nav-email-section {
    flex-basis:calc(100% / 2);
    font-size: 150%;
    text-decoration: none;
    transform: translateY(-40%);
    font-family: 'Courier New', Courier, monospace;
    
    
}

#nav-email-section {
    flex-direction: row-reverse;  
    text-decoration: none;
    color: #ffffff;



}

.email-link {
    color: rgb(85,26,139);
    text-decoration: none;
}

.main {
    flex-grow: 1;
}



.toon-head{
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-card{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 30px;
    flex-basis: calc(100%/3);
    margin-right: 50%;
    margin-left: 10%;
    margin-bottom: -34%;
    flex-wrap: wrap;
    align-items:flex-start;
    transform: translateY(-60%);
    font-family: 'Roboto', sans-serif;
}

.title-card h1{
    background-color: transparent;
    display: flex;
    color: rgb(85,26,139);
    font-weight: 300;
    text-shadow: 2px 2px 8px #74747494;


}

.title-card ul{ 
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-flex;
    list-style: none;
    align-items: center;
    gap: 4px;
    transform: translate(0%,-100%);
    text-shadow: 2px 2px 8px #74747494;
}

.title-card p {
    color: red;
    transform: translate(-5%,6px);
    margin-left: -5%;
    line-height: 1px;
    display: flex;
    letter-spacing: 0.2rem;
    font-size: 15px;
    flex-direction: row ;
    text-shadow: 2px 2px 8px #74747494;
}

.toon-head {
    display: flex;
    justify-content: flex-end;
    transform: translate(-10%, -10%);
    /* flex-direction:column; */
    /* transform: translate(25%, -10%); */


}

.toon-head img{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-bottom: inset;
    border-radius: 200px;    
}


#l1, #l8 {
    color: rgb(255, 196, 0);
}

#l3 {
    color: rgb(255, 0, 0);
}

#l5 {
    color: yellowgreen;
}

#l7 {
    color:rgb(5, 180, 255);
    
}



.fa_brands {
    text-decoration: none;
}

.title-card ul::after {
    content: "";
    width: 3px;
    height: 20px;
    background: rgb(132, 0, 255);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.bottom-nav {
    display: inline-flex;
    align-content: space-between;
    justify-content: space-around;
    width: 98vw;
    transform: translatey(-10vh);
    
    
}

.down-arrow {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#about-me-arrow-text {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

.bio-page{
    height: 100vh;
    display: flex;
    padding: 25px;
    justify-content: space-around;
}



.about-me-box{
    font-family: 'Roboto', sans-serif;
    width: 85vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

    
    

}

#about-me-title {
    color: rgb(85,26,139);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 40px;

}



.about-me-text {
    color: rgb(85,26,139);
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
}

@keyframes cursor-blink {
    0%{
        opacity: 0;
    }
}

.about-me-arrow-text {
    text-decoration: none;
    

}

.education-page {
    height: 100vh;
    display: flex;
    padding: 25px;
    justify-content: center;
}


.education-box {
    font-family: 'Roboto', sans-serif;
    width: 75vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    /* background-color: rgba(84, 26, 139, 0.127); */
    border-radius: 25px;
    
}

.projects-page {
    height: 100vh;
    display: flex;
    padding: 25px;
    justify-content: flex-start;
    flex-direction: column;
    
}

.project-box {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color:  rgba(84, 26, 139, 0.127);
    height: 35vh;
    width: 30vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    


}

.p-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.proj-desc-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

#p1 {
    background-image:url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80) ;
}

#p2 {
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);

}

#p3 {
    background-image: url(https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);


}